<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">product</th>
        <th scope="col">quantité</th>
        <th scope="col">prix</th>
    </tr>
    </thead>
    <tbody>
    {% for item in cart.order %}
        <tr class="table-active">
            <td>{{ item.product.name }}</td>
            <td>
                <a href="#"><span class="badge bg-success product-btn" id="sub-{{ item.product.id }}">-</span></a>
                <span class="badge bg-secondary">{{ item.quantity }}</span>
                <a href="#"><span class="badge bg-success product-btn" id="add-{{ item.product.id }}">+</span></a>
                <a href="#}"><span class="badge bg-danger product-btn" id="removeItem-{{ item.product.id }}">🗑️</span></a>
            </td>
            <td>
                {{ item.product.price * item.quantity /100 }} €
            </td>

        </tr>
    {% endfor %}
    <tr>
        <td colspan="2">Total</td>
        <td>{{ cart.total /100 }} €</td>
    </tr>
    </tbody>
</table>